#quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 70vh;
  width: 60%;
  /* color: white; */
  border: none;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease-in 0s;
}

.quote {
  width: 70%;
}

#text {
  transition: color 0.5s ease-in-out 0s;
  font-size: 1.6rem;
}

#author {
  transition: color 0.5s ease-in-out 0s;
}

.author-name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  width: 80%;
  letter-spacing: 1px;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  transition: all 0.5s ease-in 0s;
  color: black;
}

.btn {
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  background-color: black;
  color: white;
  font-family: "Lato", sans-serif;
  transition: all 0.5s ease-in 0s;
  font-size: 1.6rem;
}
.btn:hover {
  opacity: 0.9;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}

#dev {
  margin-top: 1rem;
  font-family: "lato", Times, serif;
  color: rgb(61, 61, 61);
}

@media (max-width: 700px) {
  #quote-box {
    width: 90%;
  }
}
